<% content_for(:page_title, "Home page") %>

<!-- Home -->
<header class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="mb-4"><span>Hello, I’m Tanya and I’m</span> Pancake</h1>
        <p class="lead">And I’m Nastya and I’m ПАМПУХ</p>
        <p class="mb-5">А Маргарита пихтачок. А тато класний</p>
        <a href="#portfolio" class="btn btn-lg btn-outline-danger fw-bold px-4 mb-5">See Portfolio</a>
      </div>
    </div>
  </div>
</header>